.subscribe-btn{
    background-color: #FFDA47;
    width: 133px;
    height: 50px;
    color: black;
    border: 1px solid black;
}
input{
    width: 319px;
    height: 50px;
    border: 3px solid #CDCCCE;
    background-color:#7C58D3 ;
    
}
input::placeholder{
    color:white;
    text-align: center;
}
