$ml-heading2:7%;
$ml-heading3:10%;

@mixin box{
    height: 105vh;
}

.parent-container{
    display: flex;
    flex-wrap: wrap;
}
.shop-product-box{
    @include box;
}
.headings{
    display: flex;
}
.heading2{
    margin-left: $ml-heading2;
}
.heading3{
    margin-left: $ml-heading3;
}



@media (max-width:700px) {
    .shop-product-box{
        height: 300vh;
    }
    .parent-container{
        display: grid !important;
    }
}