
$height:100vh;
$padd:3%;

$color3:#9C5BF5;
$ml-headings:5%;
$mt-card3:2%;
$mt:20%;
@mixin card1{
    width:55%;
    margin-left: 5%;
    
}
@mixin text{
    margin-left: 13%;
    margin-bottom: 60%;
}
@mixin badge{
    color: white;
    border-radius: 5px;
   
    height: 40px;
    font-size: 20px;
    text-align: center;
}
@mixin button{
    color:#9C5BF5 ;
    font-weight: bold;
    font-size: 20px;
}
 
@mixin card2{
              height: 250px;
              width: 350px;
              
              border-radius: 10px;
              margin-left: 2%;
}
.card1-img{
    height: 300px;
    width: 400px;
}
.image1{
    transform: translateX(25%);
 
}
.image2{
    transform: translateX(25%)
}

.cardsBox{
   height: $height;
   padding-left: $padd;
   padding-right: $padd;
}
.cardno1{
    
    
    @include card1;
}
.badge{
    @include badge
}
.text{
    @include text
}
.service-btn{
    @include button
}

.othercards{
    display: grid;
}
.card2{
    @include card2;
    
}
.headings{
    margin-left: $ml-headings;
}
.shopnow-btn{
    color: $color3;
}
.card3{
    @include card2;
    
    margin-top: 2%;
}
.heading1{
    margin-top: 20%;
}
.Parent-Div{
    display: flex;
}


@media (max-width:700px) {
    .cardsBox{
        height: 130vh;
    }
    .Parent-Div{
        display: grid !important;
    }
    .card1-img{
        height: 150px;
        width: 150px;
    }
    .cardno1{
        width: 86%;
        height: 100%;

    }
    .card2{
        margin-top: 10%;
        margin-left: 5%;
        width: 85%;
    }
    .card3{
        margin-left: 5%;
        width: 85%;
    }
    .badge{
        height: 30px;
        font-size: 15px;
    }
    .heading1{
        margin-left: 8%;
    }
    .image1{
        transform: translateX(15%);
     
    }
    .image2{
        transform: translateX(15%)
    }
}