
$m-left:5%;
@mixin Icons{
border: 0.5px solid grey;
color: #7C58D3;
font-size: 44px;
border-radius: 5px;
height:55px;
 width:45px

}
@mixin content{
    margin-left: 1%;
   
}

.firstBox{
height: 55vh;
}

.parentDiv{
    display: flex;
}
.parentDiv2{
    display: flex;
}

.icon-div1{
    @include Icons;
}
.icon-div2{
    @include Icons;
    margin-left: $m-left;
}
.icon-div3{
    @include Icons;
}
.icon-div4{
    @include Icons;
    margin-left: $m-left;
}

.content-div1{
    @include content;
}
.content-div2{
    @include content;
}
.content-div3{
    @include content;
}
.content-div4{
    @include content;
}
@media (max-width:768px) {
    .firstBox{
        height: 60vh;
    }
    .parentDiv{
        display: grid;
    }
    .parentDiv2{
        display: grid;
    }
    .cont1{
        display: flex;
        margin-left: 5%;
        margin-bottom: 8%;
    }
    .cont2{
        display: flex;
        margin-bottom: 5%;
        margin-bottom: 8%;
    }
    .cont3{
        display: flex;
        margin-left: 5%;
        margin-bottom: 8%;
    }
    .cont4{
        display: flex;
        margin-bottom: 8%;
    }
}