$pos: absolute;
@mixin image2 {
  width: 56%;
  height: 1000px;
  left: 600px;
  top: -222px;
}

@mixin dog {
  width: 600px;
  height: 700px;
  left: 750px;
  top: 110px;
}

.img-2 {
  position: $pos;
  @include image2;
}

.dog {
  position: $pos;
  @include dog;
}
@media (max-width:700px) {
  .img-2{
    position: absolute;
    left: 100px;
    width: 85%;
    top: 31px;
    height: 570px;
  }
  .dog{
    position: absolute;
    left: 80px;
    top: 20px;
    height: 600px;
    width:340px ;
  }
}
