@mixin badge{
position:absolute;
padding:5px;
border:1px solid #ccc;
font-size:medium;
background-color:white;
top:-20px;
left:200px;
transform:translateX(-50%) ;
}
@mixin postBox{
    align-items:center ;
    justify-content:center;
     height:100vh;
}
.postsBox{
    @include postBox;
}

.badge-1{
    
    @include badge  
}
.parent-container{
display: flex;   
}
.otherpost-div{
    display: flex;
}
.blog-posts{
    display: flex;
}
.otherposts-box{
    @include postBox()
}

@media (max-width:700px) {
    .postsBox{
        height: 150vh;
    }
    .blog-posts{
        display: grid;
        
    }
    .postsCard{
      width: 100%;
    }


    .otherposts-box{
        height: 150vh;
        
    }
    .otherpost-div{
        display: grid;
        
    }
    .otherpost-card{
        width: 100%;
        margin-top: 5%;
    }
}