#root {
  /* max-width: 1240px; */
  /* max-width: 80%; */
  /* margin: 0 auto; */
}
  
/* .img-1{
  position: absolute; 
  width: 1326.51px; 
  height: 1102px; 
  left: 513px; 
  top: -222.16px; 
  background: #DCFF02; 
  transform: rotate(-8.27deg);
}*/
/* .img-2{
  position: absolute;
   width: 1212px; 
   height: 1102px; 
   left: 740px; 
   top: -222px; 
  
   
} 



.dog{
  position: absolute;
   width: 700px;
    height: 830px; 
    left: 500px; 
    top: 110px; 
} */